<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Too-Da!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body id="body">

<canvas id="confetti"></canvas>


<div id="fullsheet">
    <div id="myDiv" class="Header">
        <h2 id="TooDaTitle"><i>Too-Da!</i></h2>
        <p>do this...</p>
        <div id="inputform">
        <input type="text" id="myInput" autocomplete="off" tabindex="1">
        </div>
        <p>in... <span id="minutes"></span>       minutes</p>
        <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        </div>
        <span onclick="newElement()" id="addBtn"></span>
    </div>
    <div id="uList">
       <ul id="myUL"></ul>
    </div>
</div>

<script src="{{ url_for('static', filename='js/list.js') }}"></script>
<script src="{{ url_for('static', filename='js/confetti.js') }}"></script>


</body>


</html>